# fly.toml app configuration file generated for exam-record-beta on 2026-01-27T00:33:19+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'exam-record-beta'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[env]
  DATABASE_URL = "sqlite+aiosqlite:////data/exam_record.db"
  PORT = "8080"

[mounts]
  source = "exam_data"
  destination = "/data"

