<div id="consensus-banner" hx-swap-oob="true">
    {% if event_status != 'empty' %}
    <div class="mb-8 rounded-lg p-4 border shadow-sm flex items-start gap-3
    {% if event_status == 'resolved' %} bg-green-50 border-green-200 text-green-800
    {% elif event_status == 'disputed' %} bg-orange-50 border-orange-200 text-orange-800
    {% else %} bg-gray-100 border-gray-200 text-gray-700 {% endif %}">

        <div class="mt-1">
            {% if event_status == 'resolved' %}
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd" />
            </svg>
            {% elif event_status == 'disputed' %}
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
            </svg>
            {% else %}
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                    clip-rule="evenodd" />
            </svg>
            {% endif %}
        </div>

        <div>
            <h3 class="font-bold text-lg">
                {% if event_status == 'resolved' %}Verificado por estudiantes.
                {% elif event_status == 'disputed' %}Reportes conflictivos. Por favor revisa los detalles.
                {% else %}Reporte único para este examen.{% endif %}
            </h3>
            <p class="text-sm opacity-90">
                {% if event_status == 'resolved' %}Existe un alto consenso en la comunidad sobre esta obra.{% endif %}
                {% if event_status == 'disputed' %}Se han reportado varias obras. Ayúdanos a verificar la correcta.{%
                endif %}
                {% if event_status == 'neutral' %}Esperando confirmación de otros estudiantes.{% endif %}
            </p>
        </div>
    </div>
    {% endif %}
</div>